# Ignore LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.nav
*.snm
*.vrb
*.xdv
*.ilg
*.ind
*.idx
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.dvi

# Ignore backup and temp files
*~
*.bak
*.tmp
*.swp
